<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息修改</title>
	<link rel="stylesheet" type="text/css" href="../css/alteruser.css">
</head>
<body>
    <div class="container">
    	<div class="left">
    		<a href="borrowbook.html"><h2>借书记录</h2></a>
            <br>
            <a href="hotbook.html">   <h2>热门书籍</h2></a>
            <br>
            <a href="newbook.html">   <h2>最新上架</h2></a>
            <br>
            <a href="login_user.html"><h2>全部书籍</h2></a>
            <br>
            <a href="alertuser.html">   <h2>信息修改</h2></a>
    	</div>
    	<div class="right">
    		<h1>图书借阅系统<sup>djcps</sup></h1>
    		<div class="top" style="margin-top:50px;">
    			<h2>个人信息修改</h2>
    			<hr/>
    			<label for="" class="ss">手机号:<input type="text" name="phone_id" value="15204216385" readonly></label>
    			<br>
    			<br>
    			<label for="" class="ss">姓&nbsp;&nbsp;&nbsp;名:<input type="text" name="user_name"></label>
    			<br>
    			<br>
    			<label for="" class="ss">密&nbsp;&nbsp;&nbsp;码:<input type="text" name="user_pwd"></label>
    			<br>
    			<br>
    			<input type="submit" value="保存" style="width:70px;" class="button_bc" onclick="bc()">
                <a href="index.html" onclick="return zc()"><input type="submit" value="注销" style="width:70px;" class="button_zc"> </a>

    		</div>
    	</div>
    </div>
</body>
</html>

<script>
	function bc()
	{
		alert("已修改，请记住您的密码！");
	}
    function zc() 
    {  
        var msg = "是否注销此用户？";  
        if (confirm(msg)==true){  
            return true;  
        }else{  
            return false;  
        }  
    }  

</script>